html {
    font-size: 62.5%;
    font-family: 'Open Sans';
}

.subtitle {
    margin-top: 13rem;
    margin-bottom: 6.8rem;

    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: 0.025em;
    text-align: center;

    color: #333333;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .subtitle {
        margin-top: 6rem;
        margin-bottom: 4rem;
    
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
}

@media (max-width: 767px) {
    .subtitle {
        margin-top: 3rem;
        margin-bottom: 2rem;
    
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

.page-block {
    width: 113rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .page-block {
        width: 75.5rem;
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    .page-block {
        width: 44rem;
    }
}

@media (max-width: 450px) {
    .page-block {
        width: 29.5rem;
    }
}

.page-block_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}