.header {
    position: absolute;

    display: flex;

    width: 100vw;
}

.header__button {
    position: absolute;

    right: 4rem;

    min-width: 10rem;
    height: 2.5rem;
    margin-top: 4rem;

    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;

    color: white;

    border-bottom: 0.4rem solid #6FCF97;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header__button {
        margin-top: 2.5rem;
    }
}

@media (max-width: 767px) {
    .header__button {
        display: none;
    }
}